.DS_Store
__pycache__/
*.py[cod]
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.tox/
.nox/
.python-version
.idea/
.vscode/
.venv/
.env.*
.env
!.env.example
.chainlit/.files/
.chainlit/db/
agent_workspace/.chainlit/.files/
agent_workspace/.chainlit/db/
